<div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Dashboard</h1><hr>
        </div>
    </div>
    
    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Parse the bank transactions 
            </div>
            <div class="panel-body">
            	<form role="form" class=form-inline" name="purchaseForm" ng-submit="mainCtrl.generateReport()">
            		<div class="col-lg-12">
	            		<div class="form-group">
	            			<label>Transactions: *</label>
	            			<textarea type="text" min="1" class="transactions-area form-control" placeholder=" Paste bank transactions here" 
	            			ng-model="mainCtrl.pastedTransactions" ng-paste="mainCtrl.pasteEvent($event)" required></textarea>
	            		</div>
            		</div>
            		<div class="col-lg-6 col-lg-offset-6">
            			<div class="form-group">
	            			<button class="btn btn-success">Parse</button>
	            		</div>
            		</div>
            	</form>
            </div>
        </div>
    </div>
</div>

    <div class="row" id="transactionsFormAnchor">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Transactions report
            	<button class="btn btn-success btn-xs pull-right" ng-click="mainCtrl.clearCache()" onClick="document.location.reload(true)"> Clear </button>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-bordered table-hover table-condensed" id="transactions-dataTables">
                        <thead>
                            <tr>
                                <th>Date of payment </th>
                                <th>Description</th>
                                <th>Belopp</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="parseTransaction in mainCtrl.parseTransactionsList track by $index">
                                <td>{{parseTransaction.paymentDate}}</td>
                                <td>{{parseTransaction.description}}</td>
                                <td>{{parseTransaction.belopp}}</td>
								<td>{{parseTransaction.saldo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
